<div class="pop-up">
  <h2><%= island.name %> - <%= island.country %></h2>
  <br>
  <% if island.photo.attached? %>
    <%= cl_image_tag island.photo.key, class: "pop-up-image" %>
  <% else %>
    <%= image_tag "missing_img.jpg", id: "image", class: "pop-up-image"%>
  <% end %>
</div>
