@media (max-width: 860px) {
  .laptop-size {
    display: none;
  }

  .laptop-searchbar {
    display: none;
  }

}

@media (min-width: 860px)  {
  .phone-searchbar {
    display: none;
  }
  .text-center h4 {
    display: none
  }
}
