<%= form_tag islands_path, method: :get do %>
  <div class="phone-searchbar">
    <div class="form-outline">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an Island"
      %>
    </div>
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-globe-europe globe-color"></i>
    </button>
  </div>
<% end %>
