<div id="banner">
    <div class="main-header">
      <h1>Rent an Island</h1>
      <p>Discover all the islands you nerver seen<p/>
      <%= link_to "Discover our Island",  islands_path, class: "btn-home-island" %>
    </div>
</div>
<div class="container my-4" id="galery">
  <div class="text-center">
    <h2>Have you ever dreamed of having your own island just for you?</h2>
    <br>
    <h3 class= "laptop-size">Our Beautiful Island</h3>
    <h4 class= "phone-size">Find The Island of Your <strong>Dream</strong> </h4>
    <%= render "shared/phone-searchbar" %>
  </div>
  <%# <div class="cards"> %>
    <%#= render "island_card_home", islands: @islands %>
  <%# </div> %>
</div>

<%= render "carousel", islands: @islands %>


<div class="row footer">
  <div class="col-sm-12 col-md-6 col-lg-5">
   <h2><%= image_tag("logo.png") %> Rent an Island</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Donec placerat rutrum lectus vitae pharetra. Integer consectetur
    malesuada lorem consectetur volutpat. Sed vitae neque eros.
    Nulla mattis porttitor interdum.</p>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-5">
    <div class="footer-follow-us">
    <h2>Follow US</h2>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
  </div>
</div>
