<div id="banner">
    <div class="main-header">
      <h1>Rent an Island</h1>
      <p>Discover all the islands you nerver seen<p/>
      <%= link_to "Discover our Island",  islands_path, class: "btn-home-island" %>
    </div>

</div>

<div class="container my-4" id="galery">
  <h2 class="text-center">Have you ever dreamed of having your own island just for you?</h2>
    <div class="cards">
      <div class="card">
        <img src="https://res.cloudinary.com/sschwob/image/upload/v1614780214/5b4d9t52vpmvsvy8ocbhqoejjz3x.jpg" alt="">
        <h4>Maldives</h4>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/sschwob/image/upload/v1614778920/n8p2wxj0zd27ywm2tu4hglaj7r3y.jpg" alt="">
        <h4>Bora-Bora</h4>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/sschwob/image/upload/v1614780372/ypoy2lvp6nnbejxb6lnp0e29de5d.jpg" alt="">
        <h4>Santorini</h4>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <h3>Our Beautiful Island</h3>
    </div>
</div>

<div class="footer">
    <div class="footer-copyright">
     <h2><%= image_tag("logo.png") %> Rent an Island</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec placerat rutrum lectus vitae pharetra. Integer consectetur
      malesuada lorem consectetur volutpat. Sed vitae neque eros.
      Nulla mattis porttitor interdum.</p>
    </div>

    <div id="footer-follow-us">
      <h2>Follow US</h2>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

  </div>

</div>
