<div id="banner">
    <div class="main-header">
      <h1>Rent an Island</h1>
      <p>Discover all the islands you nerver seen<p/>
      <%= link_to "Discover our Island",  islands_path, class: "btn-home-island" %>
    </div>

</div>

<div class="container my-4" id="galery">
    <h2>N'avez vous jamais réver d'avoir votre propre ile rien que pour vous ?</h2>
</div>

<div class="footer">
    <div class="footer-copyright">
     <h2><%= image_tag("logo.png") %> Rent an Island</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec placerat rutrum lectus vitae pharetra. Integer consectetur
      malesuada lorem consectetur volutpat. Sed vitae neque eros.
      Nulla mattis porttitor interdum.</p>
    </div>

    <div id="footer-follow-us">
      <h2>Follow US</h2>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

  </div>

</div>
