<div id="homepage">

  <div id="home-title">
    <h1>N'avez vous jamais rêvé d'avoir une île rien que pour vous ?</h1>
  </div>
  
  <div id="home-h2">
    <%= link_to "#" do %>
    <h2>Visitez nos îles</h2>
    <% end %>
  </div>

</div>
