#bookings-index {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 104px;
  margin-bottom: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#user-islands-bookings {
  border-bottom: 1px solid #7f8f9f;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

#user-bookings-list {
  border-top: 1px solid #7f8f9f;
  margin-top: 16px;
  padding-top: 16px;
}

.user-booking {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #7f8f9f;
}

#user-islands-bookings-list {
  border-top: 1px solid #7f8f9f;
  padding-top: 8px;
}

.island-bookings {
  margin: 16px auto ;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 8px 8px 0 8px;
}

.island-booking {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #7f8f9f;
}

.user-bookings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  h3 {
    margin: 0;
  }
}

.user-bookings-selector {
  display: flex;
  width: 200px;

  .btn-search {
    height: 28px;
    padding: 0 4px 0 4px;
    margin-left: 8px;
  }
}
