#bookings-index {
  // background-color: white;
  // border-radius: 8px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 104px;
  margin-bottom: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#user-islands-bookings {
  border-bottom: 1px solid #7f8f9f;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

#user-bookings-list {
  border-top: 1px solid #7f8f9f;
  margin-top: 16px;
  padding-top: 16px;
}

.user-booking {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #7f8f9f;
}

#user-islands-bookings-list {
  // border-top: 1px solid #7f8f9f;
  padding-top: 8px;
}

.island-booking {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.user-bookings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  h3 {
    margin: 0;
    font-weight: bold;
  }
}

.user-bookings-selector {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .selector-name {
    width: 90px;
    margin-left: 8px;
  }

  .select2 {
    width: 150px;
  }
}

.island-booking-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.island-booking-left {
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;

  > div {
    width: 100%;
    height: 80px;
  }
}

.island-booking-center {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;

  > div {
    width: 100%;
    height: 80px;
  }
}

.island-booking-right {
  width: 180px;
  height: 80px;
}

.booking-waiting {

  .island-booking-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    i {
      font-size: 28px;;
    }

    .accept-booking {
      color: $green;
      position: absolute;
      top: 4px;
      right: 0px;
    }

    .refuse-booking {
      color: $red;
      position: absolute;
      bottom: 4px;
      right: 0px;
    }
  }

}

.island-booking-right {
  display: flex;
  justify-content: center;
  align-items: center;

  .booking-state-refused {
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: $red;
  }

  .booking-state-accepted {
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: $green;
  }

  .booking-state-waiting {
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: $orange;
  }

  .booking-state-canceled {
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: $gray;
  }
}

@media(max-width: 770px) {
  .island-booking-left, .island-booking-center {
    height: 110px;
  
    > div {
      height: 110px;
    }
  }
  
  .island-booking-right {
    height: 110px;
  }
}

@media(max-width: 510px) {
  .island-booking-left, .island-booking-center {
    height: 130px;
  
    > div {
      height: 130px;
    }
  }
  
  .island-booking-right {
    height: 130px;
  }
}
