#banner {
  background-image: url('https://images.pexels.com/photos/531602/pexels-photo-531602.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  width: 100%;
  height: 526px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

#banner-title, #banner-h2 {
  width: 100%;
  color: white;
  text-align: center;
}

#banner-title {
  padding: 100px 50px 0 50px;
}

#banner-h2 {
  margin-bottom: 100px;
}
