#banner {
  background-image: url('https://images.pexels.com/photos/531602/pexels-photo-531602.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#banner h1 {
  font-weight: bold;
}

#banner h1, p {
  color: white;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
