.button {
  background-color: #8561C1;
  color: white;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  &:hover {
      transition: 2s;
      border-radius: 1px;
      background-color: #c3a6f4;
      color: #8561C1;
    }
}

.back {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid white;
  margin: 20px;
  margin-bottom: 20px;
}

