.button {
  background-color: #F7CE5B;
  color: #999999;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #999999;
  font-size: 16px;
}

.back {
  padding: 10px 20px;
  border-radius: 50px;
  opacity: 0.6;
}

