.container1 {
  padding: 30px;
}

.card-payement {
  background-color: white;
  margin : 40px;
  border-radius: 7px;
  padding: 20px;
}

.img-payement {
  border-radius: 5px;
}

#info {
  display: flex;
  justify-content: space-between;
}
