.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 24px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  border-radius: 8px;
  overflow: hidden;
    > a {
      cursor: zoom-in;
    }
    h4 {
      padding-top: 16px;
      padding-left: 20px;
    }
    h5 {
      padding-bottom: 16px;
      padding-left: 20px;
    }
}

