#form-container {
  background-color: #ECECEC;
}
.form {
  background-color: white;
  border-radius: 3px;
  padding: 18px;
  margin: 30px;
}

#island_description {
  height: 254px;
}

#description {
  height: 356px;
}
