.mapboxgl-canvas {
  position: static;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker {
  background-image: url(/assets/logo-6ec8b7a7f0c738af917856469cc8eaa5c73253932a1d63764f79d82367e13217.png) ;
}
