.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8561C1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h3{
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  margin: 0 0 0 auto;
}

.btn-navbar {
  background-color: white;
  color: #8561C1;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  &:hover {
      transition: 1s;
      border-radius: 1px;
      background-color: #c3a6f4;
      color: white;
    }
}

#new-island-link {
  margin-right: 24px;
  margin-left: 8px;
}

.fa-user-circle {
  color: white;
  font-size: 32px;
}

.fa-bell {
  color: white;
  font-size: 18px;
  margin-right: 16px;
}

.dropdown-toggle::after {
  display: none;
}

.avatar:hover {
  cursor: pointer;
}

#notifications-info {
  display: flex;
  position: relative;

  #notif-count {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    text-align: center;
    background-color: #D73B3A;
    position: absolute;
    top: -7px;
    right: 6px;
  }
}
