.user-island-card {
  margin: 16px 0;
  border: 1px solid #c8d2db;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.user-island-card-top {
  display: flex;
}

.user-island-card-img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.user-island-card-content {
  padding-left: 8px;
  padding-top: 8px;
  flex-grow: 1;
  position: relative;

  .user-island-card-price {
    position: absolute;
    bottom: 0;
    right: 8px;
  }

  .user-island-card-edit {
    position: absolute;
    top: 8px;
    right: 32px;
  }

  .user-island-card-delete {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .user-island-card-location {
    position: absolute;
    bottom: 24px;
    left: 8px;
  }

  .user-island-card-area {
    position: absolute;
    bottom: 56px;
    left: 8px;
  }
}

.user-island-card-bottom {
  font-size: small;
  padding: 8px 8px 0 8px;
}